spring-soap-client-wsdl-local/src/main/resources/wsdl/users.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:sch="http://soap.spring.mycompany.com/domain" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://techprimers.com/spring-boot-soap-example" 
                  targetNamespace="http://techprimers.com/spring-boot-soap-example">
    <wsdl:types>
        <xs:schema xmlns:tns="http://soap.spring.mycompany.com/domain" 
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                   elementFormDefault="qualified" 
                   targetNamespace="http://soap.spring.mycompany.com/domain">
            <xs:element name="getUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="empId" type="xs:int"/>
                    <xs:element name="salary" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getUserRequest">
        <wsdl:part element="sch:getUserRequest" name="getUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserResponse">
        <wsdl:part element="sch:getUserResponse" name="getUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserServicePort">
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUserRequest" name="getUserRequest"> </wsdl:input>
            <wsdl:output message="tns:getUserResponse" name="getUserResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserServicePortSoap11" type="tns:UserServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="getUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserServicePortService">
        <wsdl:port binding="tns:UserServicePortSoap11" name="UserServicePortSoap11">
            <soap:address location="/soapWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
